*{
    box-sizing: border-box;
    font-family: serif;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Times New Roman', Times, serif;
}

img{
    display: block;
    max-width: 100%;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header{
    padding: 0 15px;
}

.main-title{
    color: steelblue;
    /* padding: 0px 10px; */
}

.icon-menu{
    font-size: 2.5em;
    color: red;
    display: block;
    padding: 5px 15px;
    cursor: cell;
}

.menu{
    position: absolute;
    top: 70px;
    left: 0;
    background: Gainsboro;
    width: 100%;
    list-style: none;
    padding: 20px;
    margin: 0;
    font-size: 1.2em;
}

.menu-item{
    padding: 14px;
    text-align: center;

}

.menu-link{
    color: dodgerblue;
    text-decoration: none;
    position: relative;
}

.nav-social{
    display: flex;
    justify-content: center;
}

.nav-social-item{
    width: 35px;
    height: 35px;
    padding: 35px;
    display: block;
    text-align: center;
    margin: 5px;
}

.banner{
    background: url("../img/wall9.jpg");
    /* background-repeat: no-repeat;
    background-size: cover; */
    min-height: 550px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.banner-content{
    font-size: 1.5em;
    padding: 15px;
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: ghostwhite;
}

.banner-slogan{
    text-align: right;
}

.main{
    margin-top: 550px;
}

.welcome{
    text-align: center;
    padding: 25px;
}

.welcome-title{
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
}

.welcome-paraf{
    font-size: 1.2em;
    text-align: justify;
    padding: 5px 55px 5px 55px;
}

.btn-welcome{
    display: block;
    background: orange;
    border: 3px solid navy;
    width: 200px;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    color: navy;
    font-size: 1.3em;
    border-radius: 2em;
    transition: all 0.8s;
}

.btn-welcome:hover{
    background: navy;
    border: 3px solid orange;
    color: orange;
    font-weight: bold;
}

.design-perfor{
    margin: 20px 0;
}

.design-item{
    position: relative;
}

.design-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: ghostwhite;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
}

.design-title:before{
    content: '';
    width: 30%;
    position: absolute;
    top: -20px;
    left: 35%;
    height: 3px;
    background: #39ff14;
}


.design-title:after{
    content: '';
    width: 30%;
    position: absolute;
    top: 65px;
    left: 35%;
    height: 3px;
    background: #39ff14;
}

.design-img{
    width: 100%;
}





.fa-facebook-f{
    color: navy;
}
.fa-vk{
    color: midnightblue;
}
.fa-twitter{
    color: royalblue;
}
.fa-telegram{
    color: steelblue;
}
.fa-whatsapp-square{
    color: green;
}
.fa-instagram{
    color: indigo;
}
.fa-youtube{
    color: crimson;
}
.fa-discord{
    color: dimgray;
}