/* Fonts Load */

@font-face {
    font-family: "space-ranger";
    src: url("../style/font/spacerangerhalf.ttf");
}

@font-face {
    font-family: "terminator";
    src: url("../style/font/terminator.ttf");
}

/* Global Config */

*{
    box-sizing: border-box;
    font-family: serif;
}

body{
    margin: 0;
}

h1, h2, h3{
    font-family: "space-ranger";
}

h4, h5, h6{
    font-family: "terminator";
}

p{
    line-height: 30px;
}

img{
    display: block;
    max-width: 100%;
}

/* All Schema */

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.d-block{
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%
}




















/* Sponsor */

.automovil-container{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.automovil-title{
    text-align: center;
    color: navy;
    padding: 25px;
}

.automovil-img{
    width: auto;
    
    object-fit: cover;
    margin: auto;
}

.automovil-road{
    font-size: 1.2em;
    text-align: center;
    padding: 20px 55px 20px 55px;
}

.automovil-race{
    text-align: center;
    color: midnightblue;
}

hr.rounded {
    border-top: 10px solid silver;
    border-radius: 34567765px;
}











/* Media Config */

@media screen and (min-width: 768px) {
    .menu{
        position: static;
        opacity: 1;
        visibility: visible;
        width: auto;
        display: flex;
        background: none;
    }

    .menu-item{
        width: auto;
    }

    .icon-menu{
        display: none;
    }

    .banner{
        min-height: 550px;
    }

    .main{
        margin-top: 400px;
    }

    .box{
        justify-content: center;
    }

    .box-icon{
        margin-right: 50px;
    }
}

@media (min-width: 1024px) {
    .container{
        margin: auto;
    }

    .design-perfor{
        display: flex;
        flex-wrap: wrap;
    }

    .design-item{
        width: 50%;
    }

    .footer-m50d25{
        width: 24%;
    }
}

@media (min-width: 1280px) {
    .main-title{
        font-size: 3em;
    }

    .design-title{
        font-size: 2.5em;
    }

    .container{
        margin: auto;
    }
}