<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/styles.css" />

    <title>SENA ADSI</title>
</head>

<body>
    <header>
        <div class="centre">
            <div class="row">
                <div class="col-8" style="background-color: #aaa">
                    <br>
                    <h1>CLIENT REGISTRATION</h1>
                </div>
                <div class="col-2" style="background-color: #bbb">
                    <br>
                    <button type="button" class="btn btn-primary"
                        onclick="location.href='../views/dashboard.html'">DASHBOARD</button>
                    <br>
                </div>
                <div class="col-2" style="background-color: #ccc">
                    <br>
                    <button type="button" class="btn btn-danger" onclick="location.href='../main.html'">LOGOUT</button>
                    <br>
                </div>
            </div>
    </header>
    <br>
    <form method="POST" action="../taller/clientShow.php">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="input_citizen_number" class="form-label">Citizen Number</label>
                    <input type="text" class="form-control" name="citizen_number" id="citizen_number" placeholder="only numbers without characters" />
                </div>

                <div class="mb-3">
                    <label for="input_email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="input_business" class="form-label">Business</label>
                    <input type="text" class="form-control" name="business" id="business" placeholder="optional" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label for="input_name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="input_phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="input_inscription" class="form-label">Inscription</label>
                    <input type="date" class="form-control" name="inscription" id="inscription" placeholder="" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label for="input_surname" class="form-label">Surname</label>
                    <input type="text" class="form-control" name="surname" id="surname" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="input_profession" class="form-label">Profession</label>
                    <input type="text" class="form-control" name="profession" id="profession" placeholder="optional" />
                </div>
            </div>
        </div>

        <div class="d-grid gap-3">
            <button class="btn btn-success" type="submit"
                onclick="location.href='../views/vehicleShow.html'">SUBMIT</button>
            <button class="btn btn-warning" type="reset" value="Reset">
                RESET
            </button>
        </div>
    </form>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>