<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.png">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/styles.css" />

    <title>SENA ADSI</title>
  </head>

  <body>
    <header>
      <div class="centre">
        <div class="row">
          <div class="col-8" style="background-color: #aaa">
            <br />
            <h1><strong class="me-auto">DASHBOARD</strong></h1>
          </div>
          <div class="col-2" style="background-color: #ccc">
            <br />
            <button type="button" class="btn btn-dark">
              SEEK
            </button>
            <br />
          </div>
          <div class="col-2" style="background-color: #bbb">
            <br />
            <button type="button" class="btn btn-danger" onclick="location.href='../main.html'" >
              LOGOUT
            </button>
            <br />
          </div>
        </div>
      </div>
    </header>
    <br />
    <div>
      <div class="row">
        <div class="card col-4">
          <div>
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono1.png"
                  width="140px"
                  wight="200px"
                />
                <div class="d-grid gap-2"><button type="button" class="btn btn-secondary" onclick="location.href='../krud/vehicleList2.html'">LIST</button></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">VEHICLES</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success" onclick="location.href='../views/vehicleForm.html'">
                      INSCRIPTION
                    </button>
                    <button type="button" class="btn btn-primary">REMOVE</button>
                    <button type="button" class="btn btn-info" onclick="location.href='../krud/vehicleUpdate2.php'">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card col-4">

            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono2.png"
                  width="140px"
                  wight="200px"
                />
                <div class="d-grid gap-2"><button type="button" class="btn btn-secondary">LIST</button></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">CLIENTS</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success" onclick="location.href='../views/clientForm.html'">
                      INSCRIPTION
                    </button>
                    <button type="button" class="btn btn-primary">REMOVE</button>
                    <button type="button" class="btn btn-info">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="card col-4">

            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono3.png"
                  width="140px"
                  wight="200px"
                />
                <div class="d-grid gap-2"><button type="button" class="btn btn-secondary">LIST</button></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">EMPLOYEES</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success" onclick="location.href='../views/employeeForm.html'">
                      INSCRIPTION
                    </button>
                    <button type="button" class="btn btn-primary">REMOVE</button>
                    <button type="button" class="btn btn-info">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="card col-4">
          <div>
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono4.png"
                  width="140px"
                  wight="200px"
                />
                <div class="d-grid gap-2"><button type="button" class="btn btn-secondary">LIST</button></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">PRODUCTS</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success" onclick="location.href='../views/productForm.html'">
                      INSCRIPTION
                    </button>
                    <button type="button" class="btn btn-primary">REMOVE</button>
                    <button type="button" class="btn btn-info">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card col-4">

            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono5.png"
                  width="140px"
                  wight="200px"
                />
                <div class="d-grid gap-2"><div class="d-grid gap-2"><button type="button" class="btn btn-secondary">LIST</button></div></div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">SERVICES</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-success" onclick="location.href='../views/serviceForm.html'">
                      INSCRIPTION
                    </button>
                    <button type="button" class="btn btn-primary">REMOVE</button>
                    <button type="button" class="btn btn-info">UPDATE</button>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="card col-4">

            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../img/icons/icono7.png"
                  width="140px"
                  wight="200px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><strong class="me-auto">BILLS</strong></h2>
                  <div class="d-grid gap-2">
                    <button type="button" class="btn btn-warning" onclick="location.href='../views/billInvoice.html'">BUILD</button>
                    <button type="button" class="btn btn-warning">LIST</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div></div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
