<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/grid.css">
    <title>GRID</title>
</head>
<body>
    <div class="header">
        <p>SISTEMA DE GRILLA PAGINA ESTANDAR</p>
    </div>

    <div class="redgrid">
        <div class="header">HEADER & NAVIGATION</div>
        <div class="aside">ASIDE</div>
        <div class="panel">PANEL</div>
        <div class="footer">FOOTER</div>
        <div class="end">END</div>
    </div>
</body>
</html>



<!--
<div class="redgrid">
    <div class="header">HEADER & NAVIGATION</div>
    <div class="wallpaper">WALLPAPER</div>
    <div class="welcome">WELCOME</div>
    <div class="service1">SERVICES</div>
    <div class="service2">SERVICES</div>
    <div class="parallax">PARALLAX</div>
    <div class="support">SUPPORT</div>
    <div class="taskforce">TASKFORCE</div>
    <div class="footer">FOOTER</div>
    <div class="end">END</div>
</div>
-->

<!--
<div class="redgrid">
    <div class="header">HEADER & NAVIGATION</div>
    <div class="aside">ASIDE</div>
    <div class="panel">PANEL</div>
    <div class="footer">FOOTER</div>
    <div class="end">END</div>
</div>
-->